.about-us {
  width: 100%;
  padding: 25px 50px;
}

.about-us__wrapper {
  max-width: 1290px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us__main-part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto;
  max-width: 635px;
}

.about-us__main-part h2 {
  grid-row: 1/2;
  grid-column: 1/-1;
  color: #ffffff;
  font-family: "Larken-Regular", "Arial", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin: 0 0 48px;
}

.about-us__main-part p {
  grid-column: 1/-1;
  grid-row: 2;
  max-width: 440px;
  height: min-content;
  color: #abaeb7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto 33px;
  position: relative;
}

.about-us__main-part p::before {
  content: "";
  display: block;
  min-width: 185px;
  height: 2px;
  background: linear-gradient(90deg, transparent 10%, #c5e1e4, transparent 90%);
  position: absolute;
  bottom: 60%;
  left: -134px;
  rotate: 90deg;
}

.about-us__list {
  grid-column: 1/-1;
  grid-row: 3;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 44px;
}

.about-us__list dt {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  order: 2;
  width: min-content;
  margin: 0 0 25px;
}

.about-us__list dd {
  color: #ffffff;
  font-family: "Larken-Regular", "Arial", sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  order: 1;
  margin: 0 64px 30px 0;
  position: relative;
  max-height: 120px;
}

.about-us__list dd span {
  color: inherit;
  font-family: inherit;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: -23px;
}

.about-us__back-wavy-line {
  position: absolute;
  top: -219px;
  left: -344px;
  z-index: -2;
}

.about-us__main-picture {
  grid-column: 1/-1;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.about-us__main-picture a {
  display: block;
  position: relative;
  padding: 0;
  width: 151px;
  height: 151px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.about-us__read-more {
  position: absolute;
  top: -28px;
  left: -29px;
}

.about-us__read-more-star {
  position: absolute;
  bottom: 38%;
  left: 37%;
}

.about-us__photos {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 30px;
}

.about-us__building-whole {
  align-self: end;
}
