.specializations {
  width: 100%;
  padding: 25px 50px;
  margin-bottom: 89px;
}

.specializations__wrapper {
  max-width: 1720px;
  margin: 0 auto;
  position: relative;
}

.specializations__wrapper h2 {
  color: #ffffff;
  font-family: "Larken-Regular", "Arial", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 52px;
  text-align: center;
}

.specializations__wrapper span:first-child {
  display: block;
  color: #ffc978;
  text-align: center;
  font-family: "Larken-Medium", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
  width: 100%;
}

.specializations__projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1290px;
  margin: 0 auto;
}

.specializations__project {
  display: flex;
  max-width: 300px;
  position: relative;
  z-index: 0;
}

.specializations__project--first,
.specializations__project--fourth {
  bottom: 130px;
}

/*.specializations__project:nth-child(2n - 1 - 2) {
  bottom: 130px;
}*/

.specializations__text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  max-width: 300px;
  padding: 40px 40px 30px 30px;
}

.specializations__text h3 {
  color: #ffffff;
  font-family: "Larken-Medium", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 10px;
}

.specializations__text p {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.specializations__back-text {
  position: absolute;
  bottom: -50px;
  right: -100px;
  color: rgba(#0b0e17, 66%);
  font-family: "Roboto-Bold", "Arial", sans-serif;
  font-size: 168px;
  font-style: normal;
  font-weight: 800;
  line-height: 100px;
  text-transform: uppercase;
}
/*
.gallery__swiper-wrapper {
  justify-content: space-between;
  max-width: 1290px;
  margin: 0 auto;
}

.gallery__slide {
  max-width: 300px;
  height: auto;
!*  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;*!
}

.gallery__slide:first-child {
  margin-top: -10px;
}
*/
